@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Puse los estilos de los botenes en la carpeta components para tenerlo organizado, ya los estilos que los botones son los mismos en todas las htmls*/
button {
  font-size: 1em;
  margin: 40px;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: orange;
  box-shadow: 2px 2px 10px rgb(18, 81, 135);
  background-color: #1D2F3D;
}

button:hover {
  background-color: rgb(18, 81, 135);
}

/*Al igual que los botones y el footer, puse los estilos del header en la carpeta layout ya que es el mismo header que ira en todas las hmtls, y tambien aca ya use las varables que designe*/
header .logo {
  background-color: #1D2F3D;
  height: 10vh;
  font-size: 3.5em;
  text-align: center;
  align-items: center;
  line-height: 10vh;
  width: 100%;
  padding-top: 5px;
  justify-content: space-around;
  transition: 0.5s linear;
  color: orange;
  font-family: "Uchen", serif;
}
header .logo:hover {
  color: orange;
  text-shadow: 0 0 10px orange, 0 0 20px orange, 0 0 40px orange;
}
header section .navbar {
  background: white;
  width: 100%;
  z-index: 2;
}
header section .navbar .contenedor {
  max-width: 1000px;
  width: 90%;
  margin: auto;
  display: flex;
  font-size: 1.5em;
}
header section .navbar .contenedor a {
  padding: 20px;
  width: 100%;
  text-align: center;
  color: black;
  transition: 0.3s ease-out all;
  text-decoration: none;
  outline: none;
  text-transform: uppercase;
  transition: 0.5s;
  font-weight: bold;
}
header section .navbar .contenedor a:hover {
  background: #1D2F3D;
  color: white;
  text-decoration: none;
  text-shadow: 0 0 10px white, 0 0 30px white, 0 0 50px white;
}

@media only screen and (max-width: 768px) {
  .logo {
    background-color: #1D2F3D;
    height: 10vh;
    font-size: 3.5em;
    text-align: center;
    align-items: center;
    line-height: 10vh;
    width: 100%;
    padding-top: 5px;
    justify-content: space-around;
    transition: 0.5s linear;
    color: orange;
    font-family: "Uchen", serif;
  }
  .logo:hover {
    color: orange;
    text-shadow: 0 0 10px orange, 0 0 20px orange, 0 0 40px orange;
  }
  .contenedor {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 576px) {
  .logo {
    background-color: #1D2F3D;
    height: 10vh;
    font-size: 3.5em;
    text-align: center;
    align-items: center;
    line-height: 10vh;
    width: 100%;
    padding-top: 5px;
    justify-content: space-around;
    transition: 0.5s linear;
    color: orange;
    font-family: "Uchen", serif;
  }
  .logo:hover {
    color: orange;
    text-shadow: 0 0 10px orange, 0 0 20px orange, 0 0 40px orange;
  }
  .contenedor {
    display: flex;
    flex-direction: column;
  }
}
/*fin de los estilos de mi header*/
/*Al igual que los botones, puse los estilos del footer en la carpeta layout ya que es el mismo footer que ira en todas las hmtls, y tambien aca ya use las varables que designe*/
footer {
  display: flex;
  justify-content: space-around;
  background-color: rgb(147, 147, 148);
  height: 15vh;
  padding: 15px;
}
footer .derechos {
  justify-content: space-around;
  padding: 0px;
  color: black;
  display: flex;
  height: 12vh;
  text-align: center;
  align-items: center;
}
footer .derechos .enlace {
  text-align: center;
  align-items: center;
  justify-content: space-between;
}
footer .derechos .enlace h3 {
  font-size: 30px;
}
footer .derechos .enlace ul {
  display: flex;
  list-style: none;
  padding-top: 0;
}
footer .derechos .enlace ul li {
  font-size: 30px;
  margin: 10px;
  color: orange;
}
footer .derechos .enlace ul li i {
  font-size: 30px;
  margin: 10px;
  color: orange;
}
footer .derechos .texto {
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  footer {
    padding: 50px;
    height: 50vh;
  }
  footer .derechos {
    display: flex;
    flex-direction: column;
    height: 15vh;
    padding: 0px 17px;
  }
}
@media only screen and (max-width: 576px) {
  footer {
    padding: 50px;
    height: 50vh;
  }
  footer .derechos {
    display: flex;
    flex-direction: column;
    height: 15vh;
    padding: 0px 17px;
  }
}
/*fin de los estilos de mi footer*/
/*En estos estilos de mi pagina inicio, use las variables y extend*/
.seccion2 h4, .nuestros-cocteles .container .cocteles .carta h4, .nuestros-cocteles .container h3 {
  padding: 40px;
  font-size: 2.2em;
}

.seccion {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  font-family: "Uchen", serif;
  font-size: 2em;
  color: white;
  height: 110vh;
}
.seccion .promo {
  position: relative;
  z-index: 2;
}
.seccion .promo h2 {
  text-shadow: 0 0 10px rgb(18, 81, 135), 0 0 30px rgb(18, 81, 135), 0 0 50px rgb(18, 81, 135);
}
.seccion video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.seccion .capa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.5;
  mix-blend-mode: overlay;
}

@media only screen and (max-width: 768px) {
  .seccion {
    height: 100vh;
    background-color: #1D2F3D;
  }
  .seccion .promo {
    height: 100vh;
  }
  video {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  .seccion {
    height: 100vh;
    background-color: #1D2F3D;
  }
  .seccion .promo {
    height: 100vh;
  }
  video {
    display: none;
  }
}
.nuestros-cocteles {
  background-color: #1D2F3D;
  color: white;
  height: 100vh;
}
.nuestros-cocteles .container {
  text-align: center;
  padding: 0px;
  position: absolute;
  justify-content: space-around;
}
.nuestros-cocteles .container h3 {
  color: white;
}
.nuestros-cocteles .container h3:hover {
  color: orange;
  text-shadow: 0 0 10px orange, 0 0 20px orange, 0 0 40px orange;
}
.nuestros-cocteles .container .cocteles {
  display: flex;
  height: 80vh;
  justify-content: center;
}
.nuestros-cocteles .container .cocteles .carta {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 50px;
  margin: 20px;
  border-radius: 15px;
}
.nuestros-cocteles .container .cocteles .carta:first-child {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/imagenes/machu-picchu.jpg");
}
.nuestros-cocteles .container .cocteles .carta:nth-child(2) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/imagenes/Pisco-Sour.jpg");
}
.nuestros-cocteles .container .cocteles .carta:nth-child(3) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/imagenes/Sol-Sombra.jpg");
}
.nuestros-cocteles .container .cocteles .carta h4 {
  color: white;
}
.nuestros-cocteles .container .cocteles .carta h4:hover {
  color: orange;
  text-shadow: 0 0 10px orange, 0 0 20px orange, 0 0 40px orange;
}
.nuestros-cocteles .container .cocteles .carta p {
  font-size: 1.2em;
}

@media only screen and (max-width: 768px) {
  .nuestros-cocteles {
    height: 0vh;
    padding-top: 40px;
  }
  .nuestros-cocteles .container {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    z-index: -1;
    inset: 0;
  }
  .nuestros-cocteles .container h3 {
    display: none;
  }
  .nuestros-cocteles .container .cocteles {
    display: flex;
    flex-direction: column;
  }
  .nuestros-cocteles .container .cocteles p {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  .nuestros-cocteles {
    height: 0vh;
    padding-top: 40px;
  }
  .nuestros-cocteles .container {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    z-index: -1;
    inset: 0;
  }
  .nuestros-cocteles .container h3 {
    display: none;
  }
  .nuestros-cocteles .container .cocteles {
    display: flex;
    flex-direction: column;
  }
  .nuestros-cocteles .container .cocteles p {
    display: none;
  }
}
.seccion2 {
  height: 70vh;
  background-color: #1D2F3D;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.seccion2 h4 {
  color: white;
}
.seccion2 h4:hover {
  color: orange;
  text-shadow: 0 0 10px orange, 0 0 20px orange, 0 0 40px orange;
}

@media only screen and (max-width: 768px) {
  .seccion2 {
    height: 250vh;
    background-color: black;
    display: flex;
    flex-direction: column;
  }
  .seccion2 .seccion3 {
    padding-top: 10vh 10vh;
  }
  .seccion2 .seccion3 h4 {
    padding-top: 0px;
    color: white;
  }
  .seccion2 .seccion3 iframe {
    padding-top: 0px;
    width: 400px;
  }
  .seccion2 .seccion4 h4 {
    color: white;
  }
  .seccion2 .seccion4 iframe {
    width: 400px;
  }
}
@media only screen and (max-width: 576px) {
  .seccion2 {
    height: 250vh;
    background-color: black;
    display: flex;
    flex-direction: column;
  }
  .seccion2 .seccion3 {
    padding-top: 10vh 10vh;
  }
  .seccion2 .seccion3 h4 {
    padding-top: 0px;
    color: white;
  }
  .seccion2 .seccion3 iframe {
    padding-top: 0px;
    width: 300px;
  }
  .seccion2 .seccion4 h4 {
    color: white;
  }
  .seccion2 .seccion4 iframe {
    width: 300px;
  }
}
/*Fin de los estilos de la pagina inicio*/
/*Comienzo de los estilos de la pagina cocteles*/
.section-cocteles {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.section-cocteles .container-cocteles {
  width: 400px;
  height: 600px;
  overflow: hidden;
  position: relative;
  z-index: 2;
  margin: 200px auto;
  border-radius: 20px;
  box-shadow: 5px 8px 12px black;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.section-cocteles .container-cocteles:hover {
  transform: scale(1.1);
  box-shadow: 13px 15px 37px black;
}
.section-cocteles .container-cocteles img {
  width: 100%;
  height: 100%;
}
.section-cocteles .container-cocteles .parrafo-cocteles {
  font-size: 2.5em;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}
.section-cocteles .video-cocteles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-cocteles .capa-cocteles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.5;
  mix-blend-mode: overlay;
}

@media only screen and (max-width: 768px) {
  .section-cocteles {
    display: flex;
    flex-direction: column;
  }
  .section-cocteles .container-cocteles {
    margin: 20px 20px 20px 20px;
  }
  .section-cocteles video {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  .section-cocteles {
    display: flex;
    flex-direction: column;
  }
  .section-cocteles .container-cocteles {
    margin: 20px 20px 20px 20px;
  }
  .section-cocteles video {
    display: none;
  }
}
/*Fin de los estilos de la pagina cocteles*/
/*Comienzo de los estilos de la pagina galeria*/
.galeria {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.galeria h1 {
  text-align: center;
  margin: 20px 15px;
  font-weight: 300;
}
.galeria .linea-galeria {
  border-top: 5px solid #1D2F3D;
  margin-bottom: 40px;
}
.galeria .contenedor-imagenes {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 10px;
}
.galeria .contenedor-imagenes .imagen {
  width: 35%;
  position: relative;
  height: 520px;
  margin-bottom: 7px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}
.galeria .contenedor-imagenes .imagen:hover .overlay {
  height: 100%;
  cursor: pointer;
}
.galeria .contenedor-imagenes .imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.galeria .contenedor-imagenes .imagen .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(28, 46, 59, 0.2784313725);
  color: white;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  overflow: hidden;
}
.galeria .contenedor-imagenes .imagen .overlay h2 {
  color: white;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
  .galeria h1 {
    font-size: 22px;
  }
  .galeria .contenedor-imagenes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: none;
  }
  .galeria .contenedor-imagenes .imagen {
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 7px;
  }
}
@media screen and (max-width: 576px) {
  .galeria h1 {
    font-size: 22px;
  }
  .galeria .contenedor-imagenes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: none;
  }
  .galeria .contenedor-imagenes .imagen {
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 7px;
  }
}
/*Fin de los estilos de la pagina galeria*/
/*Comienzo de los estilos de la pagina historia*/
.historia {
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-around;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/imagenes/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.historia .capa-historia {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: #1D2F3D;
  opacity: 0.7;
}
.historia .parrafo-historia {
  z-index: 1;
  width: 540px;
  height: 440px;
  padding: 20px 20px;
  font-size: 15px;
  line-height: 1.5;
  background-color: white;
  box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.45);
  border-radius: 10px;
}
.historia .parrafo-historia:hover {
  transform: scale(1.1);
  box-shadow: 13px 15px 37px black;
}
.historia .parrafo-historia img {
  width: 350px;
  border-radius: 10px;
  float: left;
  margin-right: 15px;
  text-align: justify;
}

@media only screen and (max-width: 768px) {
  .historia {
    display: flex;
    flex-direction: column;
    height: 260vh;
  }
  .historia .parrafo-historia {
    height: 110vh;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
    text-align: center;
  }
}
@media only screen and (max-width: 576px) {
  .historia {
    display: flex;
    flex-direction: column;
    height: 290vh;
    position: absolute;
  }
  .historia .parrafo-historia {
    height: 150vh;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
    text-align: center;
  }
}
/*Fin de los estilos de la pagina historia*/
/*Comienzo de los estilos de la pagina socios, aca los estilos que añadi son solo estos ya que para esta pagina quise usar bootstrap*/
.row {
  display: flex;
  text-align: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .row {
    margin: 15px;
    padding: 15px;
  }
}
@media only screen and (max-width: 576px) {
  .row {
    margin: 15px;
    padding: 15px;
  }
}
/*Fin de los estilos de la pagina socios*/

/*# sourceMappingURL=style.css.map */
