@import '../base/variables';


footer {
    display: flex;
    justify-content: space-around;
    background-color: rgb(147, 147, 148);
    height: 15vh;
    padding: 15px;

    .derechos {
        justify-content: space-around;
        padding: 0px;
        color: $font-color;
        display: flex;
        height: 12vh;
        text-align: center;
        align-items: center;

        .enlace {
            text-align: center;
            align-items: center;
            justify-content: space-between;

            h3 {
                font-size: 30px;
            }

            ul {
                display: flex;
                list-style: none;
                padding-top: 0;

                li {
                    font-size: 30px;
                    margin: 10px;
                    color: $primary-color;

                    i {
                        font-size: 30px;
                        margin: 10px;
                        color: $primary-color;
                    }
                }
            }
        }

        .texto {
            text-align: center;
            align-items: center;
            justify-content: space-between;
        }
    }
}

@media (max-width: 480px) {

    footer {
        padding: 15px;
        height: 15vh;
    }

    footer {
        .derechos {
            display: flex;
            flex-direction: column;
            height: 18vh;
            padding: 0px 15px;
        }
    }
}