/*Puse los estilos de los botenes en la carpeta components para tenerlo organizado, ya los estilos que los botones son los mismos en todas las htmls*/

button {
    font-size: 1em;
    margin: 40px;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: orange;
    box-shadow: 2px 2px 10px rgb(18, 81, 135);
    background-color: #1D2F3D;
}

button:hover {
    background-color: rgb(18, 81, 135);
}
