@import '../base/variables';

/*Comienzo de los estilos de la pagina historia*/
.historia {
    height: 100vh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    background-image:
        linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(/imagenes/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    .capa-historia {
        width: 100%;
        height: 100vh;
        position: absolute;
        background-color: $second-color;
        opacity: 0.7;
    }

    .parrafo-historia {
        z-index: 1;
        width: 540px;
        height: 440px;
        padding: 20px 20px;
        font-size: 15px;
        line-height: 1.5;
        background-color: $tree-color;
        box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.45);
        border-radius: 10px;

        &:hover {
            transform: scale(1.1);
            box-shadow: 13px 15px 37px black;
        }

        img {
            width: 350px;
            border-radius: 10px;
            float: left;
            margin-right: 15px;
            text-align: justify;
        }
    }

}

@media only screen and (max-width: 768px){
    .historia{
        display: flex;
        flex-direction: column;
        height: 260vh;

        .parrafo-historia{
            height: 110vh;
            margin-top: 50px;
            margin-bottom: 50px;
            align-items: center;
            text-align: center;
        
        }
    }
}

@media only screen and (max-width: 576px){
    .historia{
        display: flex;
        flex-direction: column;
        height: 290vh;
        position: absolute;

        .parrafo-historia{
            height: 150vh;
            margin-top: 50px;
            margin-bottom: 50px;
            align-items: center;
            text-align: center;
        
        }
    }
}

/*Fin de los estilos de la pagina historia*/