@import '../base/variables';


.row {
    display: flex;
    text-align: center;
    align-items: center;
}

@media only screen and (max-width: 768px){
    .row{
        margin: 15px;
        padding: 15px;
    }
}