@import '../base/variables';

/*Comienzo de los estilos de la pagina socios, aca los estilos que añadi son solo estos ya que para esta pagina quise usar bootstrap*/
.row {
    display: flex;
    text-align: center;
    align-items: center;
}

@media only screen and (max-width: 768px){
    .row{
        margin: 15px;
        padding: 15px;
    }
}

/*Fin de los estilos de la pagina socios*/