.linea-socios {
    border-top: 5px solid #1D2F3D;
    margin-top: 0px;
    margin-bottom: 0px;
}

.container-socios {

    display: flex;
    background-color: rgb(31, 31, 31);
    padding: 25px;
    color: white;

    .texto-socios {

        padding-left: 25px;

        

    }
}